.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.main-content {
    flex-grow: 1;
    margin-left: 10vw;
    overflow-y: auto;
    height: 100vh;
}

.sidebar {
    background-color: #171515;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 100vh;
    position: fixed;
}

.sidebar-button {
    color: gray;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: transparent;
    border: none;
}

.sidebar-button:hover {
    color: white;
}

.sidebar-hr {
    height: 2px;
    width: 60%;
    background-color: white;
}

.about-container {
    display: flex;
    flex-direction: row;
    color: white;
    height: 100vh;
}

.about-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px;
    width: 55%;
}

.about-header {
    font-size: 5rem;
    margin-bottom: 10px;
}

.about-intro {
    font-size: 2rem;
    margin-top: 10px;
}

.profile-picture-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.profile-image {
    margin-left: 50px;
    width: 25vw;
    height: 25hw;
    border-radius: 10%;
}

.experience-container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
}

.header {
    font-size: 5rem;
    margin: 20px 50px;
}

.experience-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.experience-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: gray;
    width: 20vw;
    height: 60vh;
    padding: 10px; 
}

.experience-card-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 5%;
}

.experience-card-bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 1.5rem;
}

.experience-card-title {
    text-align: center;
    margin-bottom: 10px;
}

.experience-card-description {
    padding: 10px;
    margin-bottom: auto;
}

.experience-stack-container {
    display: flex;
    justify-content: space-evenly;
}

.experience-stack {
    background-color: darkblue;
    padding: 5px;
    border-radius: 10%;
}

.experience-site-link-container {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.experience-site-link {
    background-color: magenta;
    margin-bottom: 20px;
    padding: 5px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 100vh;
}

.projects-body {
    margin-top: 7.5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 170px;
}

.projects-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: gray;
    width: 70vw;
    height: 40vh;
    padding: 10px; 
}

.projects-card-image {
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.projects-card-right {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 1.5rem;
    border: solid;
}

.projects-card-title {

}

.projects-card-description {
    padding: 10px;
    margin-bottom: auto;
}

.projects-stack-container {
    display: flex;
    gap: 10px;
}

.projects-stack {
    background-color: darkblue;
    padding: 5px;
    border-radius: 10%;
}

.projects-site-link {
    background-color: magenta;
    text-align: center;
    margin-top: auto;
    padding: 5px;
    width: 10%;
}
