.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.section-divider {
    width: 60%;
    height: 0.25rem;
    margin: 3rem auto;
    background: linear-gradient(to right, transparent, gray, transparent);
    opacity: 0.5;
}

.main-content {
    flex-grow: 1;
    margin-left: 10vw;
    overflow-y: auto;
    height: 100vh;
    transition: all 0.3s ease;
}

.sidebar {
    background: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 100vh;
    position: fixed;
    transition: all 0.3s ease;
}

.sidebar-button {
    color: gray;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: transparent;
    border: none;
    position: relative;
}

.sidebar-button:hover {
    color: white;
}

.sidebar-hr {
    height: 2px;
    width: 60%;
    background-color: white;
    border: none;
}

.sidebar-link-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: auto;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.sidebar-link-icon {
    background-color: white;
    border-radius: 0.5rem;
    height: 3.5rem;
}

.about-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.about-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px;
    width: 55%;
}

.about-header {
    font-size: 5rem;
    margin-bottom: 10px;
}

.about-intro {
    font-size: 2rem;
    margin-top: 10px;
}

.profile-picture-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.profile-image {
    margin-left: 50px;
    width: 25vw;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 10% 100%, 0% 90%);
}

.experience-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    font-size: 5rem;
    margin: 2rem 3rem;
}

.experience-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.experience-card {
    width: 22.5%;
    height: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.experience-card::before {
    content: "";
    position: absolute;
    top: 5%;  
    bottom: 5%; 
    left: 0;  
    width: 2px;  
    background-color: darkgray;
}

.experience-card-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 10% 100%, 0% 90%);
}

.experience-card-bottom {
    margin-top: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 22.5px;
}

/* TODO: update font size */
/* Medium screens */
/* @media screen and (min-width: 768px) {
    .experience-card-bottom {
        font-size: 32px; 
    }
} */

/* Large screens */
/* @media screen and (min-width: 1024px) {
    .experience-card-bottom {
        font-size: 40px; 
    }
} */

.experience-card-title {
    font-size: 2.2rem;
}

.experience-stack-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.experience-stack {
    color: white;
    border: 1.5px solid white;
    font-size: 1.1rem;
    padding: 6px 18px; 
    border-radius: 50px; 
    letter-spacing: 0.05rem;
    overflow: hidden;
}

.experience-card-description {
    margin-bottom: auto;
}

.experience-site-link-container {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    gap: 1.5rem;
}

.experience-site-link {
    background: transparent;
    display: inline-flex;
    color: white;
    gap: .7rem;
}

.experience-site-link-icon {
    height: 30px;
    width: 30px;
}

.project-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width: 900px) {
    .experience-body {
        flex-direction: column;
        align-items: center;
    }
    .experience-card {
        width: 50%;
    }
}

.project-body {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 170px;
}

.project-card {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 80%;
    height: 40%;
    overflow: visible;
    position: relative;
}

.project-card-image {
    width: 55%;
    object-fit: contain;
    border-style: solid;
    padding-inline: 10px;
    padding-block: 5px;
    background-color: black;
    border-color: gray;
}

.project-card-right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 1.5rem;
    gap: 15px;
}

.project-card-title {
    font-size: 4rem;
}

.project-stack-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-stack {
    color: white;
    border: 1.5px solid white;
    font-size: 1.2rem;
    color: white;
    padding: 6px 18px; 
    border-radius: 50px; 
    letter-spacing: 0.05rem;
    overflow: hidden;
}

.project-card-description {
    flex-wrap: wrap;
}

.project-site-link-container {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    gap: 1.5rem;
}

.project-site-link {
    display: inline-flex;
    background: transparent;
    text-align: center;
    gap: .7rem;
}

.project-site-link-icon {
    height: 30px;
    width: 30px;
}

/* TODO: REVIEW */
@media (max-width: 900px) {
    .project-body {
        flex-direction: column;
        align-items: center;
        gap: 30px;  /* Adjust gap between project cards */
    }

    .project-card {
        width: 80%;
        flex-direction: column;  /* Change flex direction to column */
        height: auto; /* Allow card to adjust height based on content */
    }

    .project-card-image {
        width: 100%;  /* Full width image on mobile */
        height: 50%;  /* Keep the image height consistent */
        object-fit: cover;
    }

    .project-card-right {
        margin-left: 0;  /* Remove left margin on mobile */
        margin-top: 10px;  /* Add some spacing between the image and content */
    }
}

.skill-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.skill-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skill-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 65%;
    flex: 1;
    font-size: 2.5rem;
    padding-top: 1rem;
    margin: 1.5rem;
    padding: 1.5rem;
}

.skill-title {
    font-size: 3rem;
    font-weight: bold;
}

.skill-item-container {
    display: flex;
    gap: 1.8rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.skill-item {
    color: white;
    border: 1.5px solid white;
    font-size: 1.7rem;
    color: white;
    padding: 6px 18px; 
    border-radius: 50px; 
    letter-spacing: 0.05rem;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.skill-item:hover {
    transform: scale(1.1);
  }


