.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.main-content {
    flex-grow: 1;
    margin-left: 10vw;
    overflow-y: auto;
    height: 100vh;
    transition: all 0.3s ease;
}

.sidebar {
    background: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 100vh;
    position: fixed;
    transition: all 0.3s ease;
}

.sidebar-button {
    color: gray;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: transparent;
    border: none;
    position: relative;
}

.sidebar-button:hover {
    color: white;
}

.sidebar-hr {
    height: 2px;
    width: 60%;
    background-color: white;
    border: none;
}

.about-container {
    display: flex;
    flex-direction: row;
    color: white;
    height: 100vh;
}

.about-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px;
    width: 55%;
}

.about-header {
    font-size: 5rem;
    margin-bottom: 10px;
}

.about-intro {
    font-size: 2rem;
    margin-top: 10px;
}

.profile-picture-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.profile-image {
    margin-left: 50px;
    width: 25vw;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 10% 100%, 0% 90%);
}

.experience-container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
}

.header {
    font-size: 5rem;
    margin: 20px 50px;
}

.experience-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.experience-card {
    width: 22.5%;
    height: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.experience-card::before {
    content: "";
    position: absolute;
    top: 5%;  
    bottom: 5%; 
    left: 0;  
    width: 2px;  
    background-color: darkgray;
}

.experience-card-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 10% 100%, 0% 90%);
}

.experience-card-bottom {
    margin-top: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 22.5px;
}

/* TODO: update font size */
/* Medium screens */
/* @media screen and (min-width: 768px) {
    .experience-card-bottom {
        font-size: 32px; 
    }
} */

/* Large screens */
/* @media screen and (min-width: 1024px) {
    .experience-card-bottom {
        font-size: 40px; 
    }
} */

.experience-card-title {
    font-size: 2.2em;
}

.experience-stack-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.experience-stack {
    color: white;
    border: 1.5px solid white;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    padding: 6px 18px; 
    border-radius: 50px; 
    letter-spacing: 0.05em;
    overflow: hidden;
}

.experience-site-link-container {
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.experience-card-description {
    margin-bottom: auto;
}

.experience-site-link {
    color: white;
    background: transparent;
    width: 30%;
}

.experience-site-link-icon {
    height: 30px;
    width: 30px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 100vh;
}

.projects-body {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 170px;
}

.projects-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    width: 70vw;
    height: 40vh;
    padding: 20px;
}

.projects-card-image {
    width: 45%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 10% 100%, 0% 90%);
}

.projects-card-right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 1.5rem;
    gap: 15px;
}

.projects-card-title {
    font-size: 4rem;
}

.projects-stack-container {
    display: flex;
    gap: 10px;
}

.projects-stack {
    color: white;
    border: 1.5px solid white;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    padding: 6px 18px; 
    border-radius: 50px; 
    letter-spacing: 0.05em;
    overflow: hidden;
}

.projects-card-description {
    /* margin-bottom: auto; */
}

.projects-site-link {
    background: transparent;
    text-align: center;
    width: 15%;
    margin-top: auto;
}

.stack-container {
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 100vh;
}

.stack-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid;
}

.stack-section {
    flex: 1;
    border: solid;
}

.stack-item {
    border: solid;
}


