* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", "Inter", sans-serif;
  font-size: 100%;
}

body {
    background: #181818;
    color: #E0E0E0; 
}

/* anchor tag reset */
a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits color from parent */
  background: none; /* Removes any background */
  border: none; /* Removes any border */
  outline: none; /* Removes focus outline */
  font: inherit; /* Ensures it uses the same font as surrounding text */
  cursor: pointer; /* Keeps it clickable */
}
